<wicket:panel>
<table class = "table table-striped">
			<tr>
				<th><wicket:message key="Title" /></th>
				<th><wicket:message key="ISBN" /></th>
				<th><wicket:message key="Created" /></th>
			</tr>
			<tr wicket:id="rows">
				<td wicket:id="dataRow"></td>
			</tr>
		</table>
		<span wicket:id="navigator"></span>
</wicket:panel>