<wicket:panel>
<div class="col-md-3"/>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Library</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="" wicket:id="books"><wicket:message
							key="Books" /></a></li>
				<li><a href="" wicket:id="authors"><wicket:message
							key="Authors" /></a></li>
			</ul>
			<form wicket:id="languageForm" action="">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="" wicket:id="ruLink">Ru</a></li>
					<li><a href="" wicket:id="enLink">En</a></li>
					<li><a href="" wicket:id="logout"><wicket:message key="logout"/></a></li>
				</ul>
			</form>
		</div>
	</nav>

</wicket:panel>